In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
###### https://www.kaggle.com/c/text-normalization-challenge-english-language


import pandas as pd
import numpy as np
import os
import pickle
import gc
import xgboost as xgb
import numpy as np
import re
import pandas as pd
from sklearn.model_selection import train_test_split

max_num_features = 10
pad_size = 1
boundary_letter = -1
space_letter = 0
max_data_size = 320000

print(os.listdir("../Topic modeling lda/"))

# Any results you write to the current directory are saved as output.

['.ipynb_checkpoints', 'filename.pickle', 'newsgroups', 'Topic_Modeling_LDA.ipynb']

In [4]:
df = pd.read_csv("en_train.csv")

# df = dataframe('../input/en_train.csv')
# # df.head(5)

In [5]:
df.head(15)

    sentence_id  token_id    class         before             after
0             0         0    PLAIN  Brillantaisia     Brillantaisia
1             0         1    PLAIN             is                is
2             0         2    PLAIN              a                 a
3             0         3    PLAIN          genus             genus
4             0         4    PLAIN             of                of
5             0         5    PLAIN          plant             plant
6             0         6    PLAIN             in                in
7             0         7    PLAIN         family            family
8             0         8    PLAIN    Acanthaceae       Acanthaceae
9             0         9    PUNCT              .                 .
10            1         0     DATE           2006  two thousand six
11            1         1  LETTERS           IUCN           i u c n
12            1         2    PLAIN            Red               Red
13            1         3    PLAIN           List              List
14            1         4    PLAIN             of                of

In [17]:
endstring = ''
for i in range(10):
    endstring +="".join(df['before'][i])
endstring

'BrillantaisiaisagenusofplantinfamilyAcanthaceae.'

In [18]:
" ".join(str(df['before'][i]) for item in range(10))

'. . . . . . . . . .'

In [8]:
x_data = []
y_data =  pd.factorize(df['class'])
labels = y_data[1]
y_data = y_data[0]
gc.collect()
for x in df['before'].values:
    x_row = np.ones(max_num_features, dtype=int) * space_letter
    for xi, i in zip(list(str(x)), np.arange(max_num_features)):
        x_row[i] = ord(xi)
    x_data.append(x_row)

In [9]:
def context_window_transform(data, pad_size):
    pre = np.zeros(max_num_features)
    pre = [pre for x in np.arange(pad_size)]
    data = pre + data + pre
    neo_data = []
    for i in np.arange(len(data) - pad_size * 2):
        row = []
        for x in data[i : i + pad_size * 2 + 1]:
            row.append([boundary_letter])
            row.append(x)
        row.append([boundary_letter])
        neo_data.append([int(x) for y in row for x in y])
    return neo_data

In [10]:
x_data = x_data[:max_data_size]
y_data = y_data[:max_data_size]
x_data = np.array(context_window_transform(x_data, pad_size))
gc.collect()
x_data = np.array(x_data)
y_data = np.array(y_data)

In [11]:
print('Total number of samples:', len(x_data))
print('Use: ', max_data_size)
#x_data = np.array(x_data)
#y_data = np.array(y_data)

print('x_data sample:')
print(x_data[0])
print('y_data sample:')
print(y_data[0])
print('labels:')
print(labels)

Total number of samples: 320000
Use:  320000
x_data sample:
[ -1   0   0   0   0   0   0   0   0   0   0  -1  66 114 105 108 108  97
 110 116  97 105  -1 105 115   0   0   0   0   0   0   0   0  -1]
y_data sample:
0
labels:
Index(['PLAIN', 'PUNCT', 'DATE', 'LETTERS', 'CARDINAL', 'VERBATIM', 'DECIMAL',
       'MEASURE', 'MONEY', 'ORDINAL', 'TIME', 'ELECTRONIC', 'DIGIT',
       'FRACTION', 'TELEPHONE', 'ADDRESS'],
      dtype='object')

In [12]:
x_train = x_data
y_train = y_data
gc.collect()

x_train, x_valid, y_train, y_valid= train_test_split(x_train, y_train,
                                                      test_size=0.1, random_state=2017)
gc.collect()
num_class = len(labels)

In [13]:
dtrain = xgb.DMatrix(x_train, label=y_train)
dvalid = xgb.DMatrix(x_valid, label=y_valid)
watchlist = [(dtrain, 'train'),(dvalid, 'valid')]

param = {'objective':'multi:softmax',
         'eta':'0.3', 'max_depth':10,
         'silent':1, 'nthread':-1,
         'num_class':num_class,
         'eval_metric':'merror'}
model = xgb.train(param, dtrain, 50, watchlist, early_stopping_rounds=20,
                  verbose_eval=10)
gc.collect()

[0]	train-merror:0.007781	valid-merror:0.007594
Multiple eval metrics have been passed: 'valid-merror' will be used for early stopping.

Will train until valid-merror hasn't improved in 20 rounds.
[10]	train-merror:0.003542	valid-merror:0.005469
[20]	train-merror:0.002069	valid-merror:0.004875
[30]	train-merror:0.000986	valid-merror:0.004781
[40]	train-merror:0.000503	valid-merror:0.00475
[49]	train-merror:0.000257	valid-merror:0.004781

21

In [14]:
model.save_model('xgb_model')

In [15]:
dvalid = xgb.DMatrix(x_valid)

In [16]:
pred = model.predict(dvalid)
pred = [labels[int(x)] for x in pred]

In [17]:
y_valid = [labels[x] for x in y_valid]
x_valid = [ [ chr(x) for x in y[2 + max_num_features: 2 + max_num_features * 2]] for y in x_valid]
x_valid = [''.join(x) for x in x_valid]
x_valid = [re.sub('a+$', '', x) for x in x_valid]

gc.collect()

0

In [18]:
df_pred = pd.DataFrame(columns=['data', 'predict', 'target'])
df_pred['data'] = x_valid
df_pred['predict'] = pred
df_pred['target'] = y_valid
#df_pred.to_csv(os.path.join(out_path, 'pred.csv'))

# df_erros = df_pred.loc[df_pred['predict'] != df_pred['target']]
# df_erros.to_csv(os.path.join(out_path, 'errors.csv'), index=False)

#model.save_model(os.path.join(out_path, 'xgb_model'))

In [19]:
df_pred[df_pred['predict']=='DATE']

             data predict target
28     September     DATE   DATE
53     2011-05-10    DATE   DATE
68     1959          DATE   DATE
82     November 1    DATE   DATE
108    March 1, 2    DATE   DATE
109    26 June       DATE   DATE
129    6 January     DATE   DATE
130    1997          DATE   DATE
152    1996          DATE   DATE
159    18 January    DATE   DATE
183    2010          DATE   DATE
204    August 8,     DATE   DATE
211    January 16    DATE   DATE
238    1774          DATE   DATE
258    3 March 20    DATE   DATE
259    30 January    DATE   DATE
344    2004          DATE   DATE
382    August 16,    DATE   DATE
398    October 20    DATE   DATE
447    1987          DATE   DATE
469    15 May 201    DATE   DATE
570    1917          DATE   DATE
601    2007          DATE   DATE
651    13 May 196    DATE   DATE
663    4 August 1    DATE   DATE
725    June 4, 20    DATE   DATE
784    1998          DATE   DATE
790    2013          DATE   DATE
815    19 May 200    DATE   DATE
818    14 January    DATE   DATE
...           ...     ...    ...
30960  1873          DATE   DATE
30963  2010          DATE   DATE
31013  February 2    DATE   DATE
31126  October 18    DATE   DATE
31205  1806          DATE   DATE
31212  May 8, 194    DATE   DATE
31224  31 January    DATE   DATE
31320  1827          DATE   DATE
31355  2002          DATE   DATE
31368  2014          DATE   DATE
31383  2004          DATE   DATE
31390  12 July 20    DATE   DATE
31422  1968          DATE   DATE
31440  22 January    DATE   DATE
31463  2012          DATE   DATE
31503  1945          DATE   DATE
31521  17 May 200    DATE   DATE
31547  24 October    DATE   DATE
31583  19 Sept.      DATE   DATE
31594  March 12,     DATE   DATE
31641  August 3,     DATE   DATE
31666  1877          DATE   DATE
31679  2 April 20    DATE   DATE
31685  7 August 2    DATE   DATE
31711  1 November    DATE   DATE
31735  2007          DATE   DATE
31736  January 21    DATE   DATE
31764  1990s         DATE   DATE
31880  26 March 2    DATE   DATE
31912  20 Februar    DATE   DATE

[993 rows x 3 columns]

In [20]:
test_df = pd.read_csv("en_test.csv")
gc.collect()

11

In [21]:
test_df.head()

   sentence_id  token_id     before
0            0         0    Another
1            0         1  religious
2            0         2     family
3            0         3         is
4            0         4         of

In [22]:
test_data = []
for x in test_df['before'].values:
    x_row = np.ones(max_num_features, dtype=int) * space_letter
    for xi, i in zip(list(str(x)), np.arange(max_num_features)):
        x_row[i] = ord(xi)
    test_data.append(x_row)

In [23]:
#test_data = test_data[:max_data_size]
test_data = np.array(context_window_transform(test_data, pad_size))
gc.collect()
test_data = np.array(test_data)

In [24]:
print('Total number of samples:', len(test_data))
print('Use: ', max_data_size)
#x_data = np.array(x_data)
#y_data = np.array(y_data)

print('x_data sample:')
print(test_data.shape)

Total number of samples: 1088564
Use:  320000
x_data sample:
(1088564, 34)

In [25]:
dtest = xgb.DMatrix(test_data)
t_pred = model.predict(dtest)
t_pred = [labels[int(x)] for x in t_pred]

In [26]:
test_df['predict'] = t_pred

In [27]:
test_df[test_df['predict']=='TELEPHONE']

         sentence_id  token_id                before    predict
7907             513         0            09/08/1943  TELEPHONE
8039             522         1         0-19-511967-3  TELEPHONE
9088             587        11                045007  TELEPHONE
14502            952         1         0-521-04656-4  TELEPHONE
23352           1522         1     978-1-86395-429-7  TELEPHONE
27486           1786         1               0573430  TELEPHONE
28168           1829        22            2001-11-10  TELEPHONE
29659           1926         3     978-0-3743-5095-6  TELEPHONE
32553           2110         1           4-8179-2022  TELEPHONE
32640           2115         1             22-25 RUS  TELEPHONE
34463           2228        18         1120-49 JSTOR  TELEPHONE
36548           2356         2            (1976) 198  TELEPHONE
37255           2400         1           0-9841859-5  TELEPHONE
41603           2673         1     978-1-77909-023-2  TELEPHONE
41622           2673        20         0-269-99283-9  TELEPHONE
42967           2756         2             018611479  TELEPHONE
49163           3143         1     978-0-9854603-2-7  TELEPHONE
52055           3337         1     978-0-615-55901-8  TELEPHONE
52569           3371        18  3-8136-0021-1101 UKW  TELEPHONE
53465           3426        10        1365-294X.2004  TELEPHONE
53653           3438         1     978-0-14-044796-5  TELEPHONE
66557           4273         1         0-316-51163-3  TELEPHONE
67307           4323         1         0-521-28075-3  TELEPHONE
67310           4323         4     978-0-521-28075-4  TELEPHONE
70466           4530         1           1-85868-255  TELEPHONE
71773           4613         1            0385236905  TELEPHONE
75708           4870         9              20-04-02  TELEPHONE
77328           4981        15         0-231-12703-0  TELEPHONE
78616           5066         9                073909  TELEPHONE
80977           5220        10         0-618-00221-9  TELEPHONE
...              ...       ...                   ...        ...
1000091        64330        10         0-933277-90-3  TELEPHONE
1008112        64847         8                074034  TELEPHONE
1008689        64882         8                022110  TELEPHONE
1012036        65102         8             43-544 AD  TELEPHONE
1017565        65450         4      0-89281-505-1 CD  TELEPHONE
1019156        65550        17         3-11-008324-8  TELEPHONE
1020727        65648         1           0-8091-3599  TELEPHONE
1030457        66270         4         84-934411-0-4  TELEPHONE
1032185        66388         1              12/15/08  TELEPHONE
1033364        66462         1     978-0-300-11465-2  TELEPHONE
1034322        66522         1           1978-79 NBA  TELEPHONE
1034624        66540         1        978-1107653788  TELEPHONE
1038816        66805         7     978-3-86335-253-0  TELEPHONE
1040822        66939         1         973-50-1158-1  TELEPHONE
1049349        67491         6            25.03.1848  TELEPHONE
1057571        67998         0                080218  TELEPHONE
1065194        68492        17            03-02-2007  TELEPHONE
1067226        68623        16         81-7223-351-5  TELEPHONE
1067967        68676         8            0812235576  TELEPHONE
1067970        68676        11     978-0-8122-3557-9  TELEPHONE
1070369        68830         1           0-306-47350  TELEPHONE
1071650        68912         1     978-91-518-5107-5  TELEPHONE
1072996        68996         9                003162  TELEPHONE
1073279        69016         2            1848846304  TELEPHONE
1078608        69359         1         1-85780-153-9  TELEPHONE
1082870        69631        12     978-0-7552-1321-4  TELEPHONE
1085527        69805         1         0-415-33228-1  TELEPHONE
1086313        69854         1            0271025263  TELEPHONE
1086316        69854         4     978-0-271-02526-1  TELEPHONE
1086821        69886         1           0-8160-1194  TELEPHONE

[393 rows x 4 columns]

In [28]:
test_df2 = pd.read_csv("en_test_2.csv")
gc.collect()
test_df2.head()

   sentence_id  token_id      before
0            0         0        Last
1            0         1    modified
2            0         2  2016-03-31
3            0         3           .
4            1         0     There's

In [29]:
test_data2 = []
for x in test_df2['before'].values:
    x_row = np.ones(max_num_features, dtype=int) * space_letter
    for xi, i in zip(list(str(x)), np.arange(max_num_features)):
        x_row[i] = ord(xi)
    test_data2.append(x_row)

In [30]:
#test_data = test_data[:max_data_size]
test_data2 = np.array(context_window_transform(test_data2, pad_size))
gc.collect()
test_data2 = np.array(test_data2)

In [31]:
print('Total number of samples:', len(test_data2))
print('test_data sample:')
print(test_data2.shape)

Total number of samples: 956046
test_data sample:
(956046, 34)

In [32]:
dtest2 = xgb.DMatrix(test_data2)
t_pred2 = model.predict(dtest2)
t_pred2 = [labels[int(x)] for x in t_pred2]
test_df2['predict'] = t_pred2

In [206]:
text="arrage a reminder for meeting on 2 march 2018 at 7 p.m"

In [214]:
import nltk
from nltk import word_tokenize
from nltk.util import ngrams
token=nltk.word_tokenize(text)
bigrams=ngrams(token,3)

In [215]:
date = []
for a in bigrams:
    date.append(' '.join(map(str,a)))
date

['arrage a reminder',
 'a reminder for',
 'reminder for meeting',
 'for meeting on',
 'meeting on 2',
 'on 2 march',
 '2 march 2018',
 'march 2018 at',
 '2018 at 7',
 'at 7 p.m']

In [216]:
test_data2 = []
for x in date:
    x_row = np.ones(max_num_features, dtype=int) * space_letter
    for xi, i in zip(list(str(x)), np.arange(max_num_features)):
        x_row[i] = ord(xi)
    test_data2.append(x_row)

In [217]:
test_data2 = np.array(context_window_transform(test_data2, pad_size))
gc.collect()
test_data2 = np.array(test_data2)

In [218]:
print('Total number of samples:', len(test_data2))
print('test_data sample:')
print(test_data2.shape)

Total number of samples: 10
test_data sample:
(10, 34)

In [219]:
dtest2 = xgb.DMatrix(test_data2)
t_pred2 = model.predict(dtest2)
t_pred2 = [labels[int(x)] for x in t_pred2]

In [220]:
t_pred2

['PLAIN',
 'PLAIN',
 'PLAIN',
 'PLAIN',
 'PLAIN',
 'PLAIN',
 'DATE',
 'DATE',
 'DATE',
 'ELECTRONIC']